Repository rtfm-si/bo1: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-sync, frontend-typecheck, types-freshness

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Version sync check (runs first, fast)
      - id: version-sync
        name: Version sync check
        entry: ./scripts/bump-version.sh check
        language: system
        pass_filenames: false
        files: ^(VERSION|pyproject\.toml|frontend/package\.json|frontend/src/lib/config/version\.ts|bo1/__init__\.py)$

      # Backend linting
      - id: ruff-check
        name: Backend linting (ruff check)
        entry: docker-compose run --rm bo1 uv run ruff check . --fix
        language: system
        pass_filenames: false
        always_run: true

      - id: ruff-format
        name: Backend formatting (ruff format)
        entry: docker-compose run --rm bo1 uv run ruff format .
        language: system
        pass_filenames: false
        always_run: true

      - id: mypy-bo1
        name: Backend type checking (mypy)
        entry: docker-compose run --rm bo1 uv run mypy bo1/
        language: system
        pass_filenames: false
        always_run: true

      # Frontend checks
      - id: frontend-typecheck
        name: Frontend type checking
        entry: bash -c "cd frontend && npm run check"
        language: system
        pass_filenames: false
        files: ^frontend/

      - id: types-freshness
        name: Check generated types freshness
        entry: bash -c "cd frontend && npm run check:types-fresh"
        language: system
        pass_filenames: false
        files: ^(openapi\.json|frontend/src/lib/api/generated-types\.ts)$

      # Fast backend tests (no LLM)
      - id: backend-tests-fast
        name: Backend tests (no LLM)
        entry: docker-compose run --rm bo1 pytest -v -m "not requires_llm" --tb=line
        language: system
        pass_filenames: false
        always_run: true

chore: regenerate OpenAPI spec and types for blindspot-discussions endpoint
  frontend/src/lib/api/.openapi-hash
  frontend/src/lib/api/generated-types.ts
  openapi.json
Due: frontend-typecheck, types-freshness

fix(ui): resolve multiple dashboard and advisor panel issues
  frontend/src/lib/components/context/MetricCalculatorModal.svelte
  frontend/src/lib/components/mentor/MentorChat.svelte
  frontend/src/routes/(app)/advisor/discuss/+page.svelte
  frontend/src/routes/(app)/dashboard/+page.svelte
  frontend/src/routes/(app)/reports/data/+page.svelte
Due: frontend-typecheck

fix(blog): resolve content loading and formatting issues
  backend/services/content_generator.py
  frontend/src/lib/components/Header.svelte
  frontend/src/routes/(app)/admin/blog/+page.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/about/+page.svelte
  frontend/src/routes/blog/+page.svelte
  frontend/src/routes/blog/[slug]/+page.svelte
  frontend/src/routes/features/+page.svelte
  frontend/src/routes/pricing/+page.svelte
  frontend/src/routes/sitemap.xml/+server.ts
  frontend/static/og-image.png
Due: frontend-typecheck

feat(sheets): migrate from Sheets API to Drive API with Google Picker
  backend/api/auth.py
  backend/api/supertokens_config.py
  backend/services/sheets.py
  docker-compose.app.yml
  docker-compose.yml
  frontend/src/lib/components/dataset/SheetsImportModal.svelte
  frontend/src/lib/services/googlePicker.ts
  frontend/src/lib/types/google-picker.d.ts
  frontend/src/routes/(app)/advisor/analyze/+page.svelte
  frontend/static/bo1-128.png
  frontend/static/bo1-16.png
  frontend/static/bo1-256.png
  frontend/static/bo1-32.png
  frontend/static/bo1-64.png
Due: frontend-typecheck

test(sheets): update tests for Drive API migration
  tests/services/test_sheets.py
Due: none

chore: regenerate OpenAPI spec and update tests
  backend/openapi.json
  frontend/openapi.json
  openapi.json
Due: frontend-typecheck, types-freshness

fix: regenerate clean openapi.json (was corrupted with logs)
  backend/openapi.json
  frontend/openapi.json
  openapi.json
Due: frontend-typecheck, types-freshness

fix(tests): remove unused imports in test_sheets.py
  tests/services/test_sheets.py
Due: none

chore: regenerate openapi.json using export script
  backend/openapi.json
  frontend/openapi.json
  openapi.json
Due: frontend-typecheck, types-freshness

fix(deps): patch 3 HIGH severity CVEs
  pyproject.toml
  uv.lock
Due: version-sync

fix(deps): upgrade orjson to 3.11.5 (CVE-2025-67221)
  pyproject.toml
  uv.lock
Due: version-sync

fix(security): ignore setuptools-vendored CVEs, upgrade lodash
  .trivyignore
  frontend/package-lock.json
  frontend/package.json
Due: version-sync, frontend-typecheck

chore: regenerate frontend types from OpenAPI spec
  frontend/src/lib/api/.openapi-hash
  frontend/src/lib/api/generated-types.ts
Due: frontend-typecheck, types-freshness

refactor(sheets): require OAuth for Google Drive imports
  backend/api/datasets.py
  backend/services/sheets.py
  bo1/llm/cost_tracker.py
  docker-compose.yml
  mypy.ini
  pyproject.toml
Due: version-sync

feat(seo): add decision library and blog topic proposer
  backend/api/admin/__init__.py
  backend/api/admin/blog.py
  backend/api/admin/decisions.py
  backend/api/decisions.py
  backend/api/main.py
  backend/api/models.py
  backend/services/decision_generator.py
  backend/services/topic_discovery.py
  bo1/state/repositories/__init__.py
  bo1/state/repositories/decision_repository.py
  chatgpt-seo.md
  frontend/src/lib/api/admin.ts
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/types.ts
  frontend/src/lib/components/admin/BlogGenerateModal.svelte
  frontend/src/lib/components/admin/DecisionEditorModal.svelte
  frontend/src/lib/components/admin/DecisionGenerateModal.svelte
  frontend/src/lib/utils/jsonld.ts
  frontend/src/routes/(app)/admin/blog/+page.svelte
  frontend/src/routes/(app)/admin/decisions/+page.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/blog/[slug]/+page.svelte
  frontend/src/routes/decisions/+page.svelte
  frontend/src/routes/decisions/[category]/+page.svelte
  frontend/src/routes/decisions/[category]/[slug]/+page.svelte
  frontend/src/routes/sitemap.xml/+server.ts
  meeting_investigation_bo1_35448e5b-0023-4cbc-a0a7-5cbae8ba4ddb.md
  migrations/versions/zzy_published_decisions.py
  seo-report.md
  tests/api/test_terminology.py
Due: frontend-typecheck

chore: refresh openapi spec and fix container security
  Dockerfile
  frontend/src/lib/api/.openapi-hash
  frontend/src/lib/api/generated-types.ts
  openapi.json
Due: frontend-typecheck, types-freshness

fix(api): use psycopg2 cursor pattern in marketing_assets service
  backend/services/marketing_assets.py
Due: none

fix(ui): use explicit z-index values in Modal component
  frontend/src/lib/components/ui/Modal.svelte
Due: frontend-typecheck

fix(ratings): cast entity_id types for session/action joins
  backend/services/marketing_assets.py
  bo1/state/repositories/ratings_repository.py
  seo-report.md
Due: none

fix(db): add missing benchmark_timestamps migration
  migrations/versions/zzz_add_benchmark_timestamps.py
Due: none

fix(tests): use correct psycopg2 cursor mock pattern for marketing_assets
  tests/api/test_marketing_assets.py
Due: none

feat(marketing): add 7 feature sub-pages for landing site
  frontend/src/routes/features/competitor-analysis/+page.svelte
  frontend/src/routes/features/data-analysis/+page.svelte
  frontend/src/routes/features/decisions-replanning/+page.svelte
  frontend/src/routes/features/mentor-chat/+page.svelte
  frontend/src/routes/features/project-management/+page.svelte
  frontend/src/routes/features/seo-generation/+page.svelte
  frontend/src/routes/features/tailored-to-you/+page.svelte
Due: frontend-typecheck

feat(marketing): add comparison and use-case pages with SEO enhancements
  frontend/src/lib/components/Footer.svelte
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/utils/jsonld.ts
  frontend/src/routes/compare/+page.svelte
  frontend/src/routes/compare/board-of-one-vs-advisory-board/+page.svelte
  frontend/src/routes/compare/board-of-one-vs-chatgpt/+page.svelte
  frontend/src/routes/compare/board-of-one-vs-coaching/+page.svelte
  frontend/src/routes/compare/board-of-one-vs-consultants/+page.svelte
  frontend/src/routes/compare/board-of-one-vs-masterminds/+page.svelte
  frontend/src/routes/features/+page.svelte
  frontend/src/routes/features/competitor-analysis/+page.svelte
  frontend/src/routes/features/data-analysis/+page.svelte
  frontend/src/routes/features/decisions-replanning/+page.svelte
  frontend/src/routes/features/mentor-chat/+page.svelte
  frontend/src/routes/features/project-management/+page.svelte
  frontend/src/routes/features/seo-generation/+page.svelte
  frontend/src/routes/features/tailored-to-you/+page.svelte
  frontend/src/routes/sitemap.xml/+server.ts
  frontend/src/routes/use-cases/+page.svelte
  frontend/src/routes/use-cases/advisor-alternative/+page.svelte
  frontend/src/routes/use-cases/delay-management-hires/+page.svelte
  frontend/src/routes/use-cases/founder-bottleneck/+page.svelte
  frontend/src/routes/use-cases/operating-without-org/+page.svelte
  frontend/src/routes/use-cases/strategic-decisions/+page.svelte
  seo-report.md
  uv.lock
Due: frontend-typecheck

fix(ux): scroll to top on page navigation
  frontend/src/routes/+layout.svelte
Due: frontend-typecheck

feat(seo): fix canonical URLs and add featured decisions
  backend/api/admin/decisions.py
  backend/api/decisions.py
  backend/api/models.py
  bo1/state/repositories/decision_repository.py
  frontend/src/lib/api/admin.ts
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/types.ts
  frontend/src/lib/components/Footer.svelte
  frontend/src/lib/components/admin/FeaturedDecisionsModal.svelte
  frontend/src/lib/components/landing/HeroCarousel.svelte
  frontend/src/lib/components/landing/SampleSelector.svelte
  frontend/src/lib/utils/jsonld.ts
  frontend/src/routes/(app)/admin/decisions/+page.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/decisions/+page.svelte
  frontend/src/routes/decisions/[category]/+page.svelte
  frontend/src/routes/decisions/[category]/[slug]/+page.svelte
  frontend/src/routes/legal/cookies/+page.svelte
  frontend/src/routes/legal/privacy/+page.svelte
  frontend/src/routes/legal/terms/+page.svelte
  migrations/versions/zzz_featured_decisions.py
  tests/api/test_terminology.py
Due: frontend-typecheck

fix(ci): regenerate OpenAPI spec and ignore low-severity pip vuln
  .osv-scanner.toml
  frontend/src/lib/api/.openapi-hash
  frontend/src/lib/api/generated-types.ts
  openapi.json
Due: frontend-typecheck, types-freshness

fix(ci): correct OSV config and ignore pip CVE in pip-audit
  .github/workflows/ci.yml
  .osv-scanner.toml
Due: none

feat(decisions): add structured synthesis display to decision pages
  frontend/src/routes/(app)/admin/+page.svelte
  frontend/src/routes/decisions/[category]/[slug]/+page.svelte
  scripts/install-hooks.sh
Due: frontend-typecheck

feat(decisions): display all synthesis fields on decision pages
  frontend/src/routes/decisions/[category]/[slug]/+page.svelte
Due: frontend-typecheck

refactor(models): add FromDbRowMixin for DRY model instantiation
  _TASK.md
  bo1/models/action.py
  bo1/models/dataset_folder.py
  bo1/models/dataset_objective_analysis.py
  bo1/models/project.py
  bo1/models/session.py
  bo1/models/util.py
  bo1/models/workspace.py
  tests/models/test_util.py
Due: none

perf(deliberation): cache sub-problem context across personas
  _PLAN.md
  _TASK.md
  bo1/graph/deliberation/context.py
  bo1/graph/deliberation/partial_context.py
  bo1/graph/deliberation/subgraph/state.py
  bo1/graph/nodes/subproblems.py
  bo1/models/state.py
  tests/graph/deliberation/test_context.py
  tests/graph/test_partial_context.py
Due: none

refactor(models): add AuditFieldsMixin for DRY created_at/updated_at
  backend/api/workspaces/models.py
  bo1/models/dataset_folder.py
  bo1/models/dataset_objective_analysis.py
  bo1/models/session.py
  bo1/models/util.py
  bo1/models/workspace.py
  tests/models/test_util.py
Due: none

feat(seo): add Google Search Console integration + decision SEO fields
  backend/api/admin/__init__.py
  backend/api/admin/gsc_analytics.py
  backend/api/integrations/__init__.py
  backend/api/integrations/search_console.py
  backend/api/main.py
  backend/api/models.py
  backend/services/google_search_console.py
  backend/services/gsc_sync.py
  bo1/config.py
  bo1/state/repositories/__init__.py
  bo1/state/repositories/decision_repository.py
  bo1/state/repositories/gsc_repository.py
  frontend/src/lib/api/.openapi-hash
  frontend/src/lib/api/generated-types.ts
  frontend/src/lib/api/types.ts
  frontend/src/lib/utils/jsonld.ts
  frontend/src/routes/decisions/+page.svelte
  frontend/src/routes/decisions/[category]/+page.svelte
  frontend/src/routes/decisions/[category]/[slug]/+page.svelte
  migrations/versions/zzza_decision_seo_fields.py
  migrations/versions/zzzb_gsc_integration.py
  openapi.json
  scripts/lint_datetime_allowlist.txt
Due: frontend-typecheck, types-freshness

refactor(integrations): remove Google Calendar, add admin integrations page
  _TODO.md
  backend/api/actions.py
  backend/api/auth.py
  backend/api/event_bridge.py
  backend/api/integrations/__init__.py
  backend/api/integrations/calendar.py
  backend/api/integrations/search_console.py
  backend/api/main.py
  backend/services/action_calendar_sync.py
  backend/services/google_calendar.py
  bo1/config.py
  bo1/state/repositories/user_repository.py
  frontend/e2e/datasets.spec.ts
  frontend/e2e/settings.spec.ts
  frontend/src/lib/api/.openapi-hash
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/generated-types.ts
  frontend/src/lib/api/types.ts
  frontend/src/routes/(app)/admin/+page.svelte
  frontend/src/routes/(app)/admin/integrations/+page.svelte
  frontend/src/routes/(app)/settings/integrations/+page.svelte
  openapi.json
  tests/api/test_calendar_integration.py
  tests/services/test_action_calendar_sync.py
  tests/services/test_google_calendar.py
Due: frontend-typecheck, types-freshness

chore: regenerate OpenAPI spec, remove stale calendar types
  frontend/src/lib/api/.openapi-hash
  frontend/src/lib/api/generated-types.ts
  frontend/src/lib/api/types.ts
  openapi.json
Due: frontend-typecheck, types-freshness

feat(seo): add SEO content automation for decisions
  backend/api/admin/decisions.py
  backend/api/admin/seo_analytics.py
  backend/api/models.py
  backend/services/decision_generator.py
  backend/services/seo_enrichment.py
  backend/services/seo_topic_discovery.py
  bo1/state/repositories/decision_repository.py
  docker-compose.app.yml
  frontend/src/lib/api/types.ts
  frontend/src/lib/utils/jsonld.ts
  frontend/src/routes/decisions/[category]/[slug]/+page.svelte
  frontend/static/llms.txt
  frontend/static/robots.txt
  migrations/versions/zzzc_decision_meta_title.py
Due: frontend-typecheck

chore: regenerate OpenAPI spec for SEO endpoints
  frontend/src/lib/api/.openapi-hash
  frontend/src/lib/api/generated-types.ts
  openapi.json
Due: frontend-typecheck, types-freshness

fix(gsc): add missing set/get/delete methods to SessionManager
  backend/api/oauth_session_manager.py
Due: none
