Repository rtfm-si/bo1: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-sync, frontend-typecheck, types-freshness

version-sync:
  name: Version sync check
  entry: ./scripts/bump-version.sh check
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend type checking
  entry: bash -c "cd frontend && npm run check"
  language: system
  pass_filenames: false

types-freshness:
  name: Check generated types freshness
  entry: bash -c "cd frontend && npm run check:types-fresh"
  language: system
  pass_filenames: false

chore: update uv.lock
  uv.lock
Due: none

chore: regenerate OpenAPI spec with TwoFactorStatusResponse changes
  frontend/src/lib/api/.openapi-hash
  frontend/src/lib/api/generated-types.ts
  openapi.json
Due: frontend-typecheck, types-freshness

feat: remove 2FA, add trends report and research headlines widget
  .claude/hooks/check-plan-approval.sh
  _PLAN.md
  _TASK.md
  _TODO.md
  backend/api/admin/drilldown.py
  backend/api/main.py
  backend/api/peer_benchmarks/routes.py
  backend/api/two_factor.py
  backend/openapi.json
  backend/services/fixed_costs.py
  frontend/src/lib/api/.openapi-hash
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/generated-types.ts
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/dashboard/ResearchHeadlinesWidget.svelte
  frontend/src/lib/components/dashboard/ValueMetricsPanel.svelte
  frontend/src/lib/components/projects/AutogenProjectsModal.svelte
  frontend/src/routes/(app)/admin/costs/+page.svelte
  frontend/src/routes/(app)/analysis/+page.svelte
  frontend/src/routes/(app)/context/key-metrics/+page.svelte
  frontend/src/routes/(app)/context/metrics/+page.svelte
  frontend/src/routes/(app)/context/overview/+page.svelte
  frontend/src/routes/(app)/context/strategic/+page.svelte
  frontend/src/routes/(app)/dashboard/+page.svelte
  frontend/src/routes/(app)/datasets/+page.svelte
  frontend/src/routes/(app)/mentor/+page.svelte
  frontend/src/routes/(app)/reports/trends/+page.svelte
  frontend/src/routes/(app)/settings/+layout.svelte
  frontend/src/routes/(app)/settings/security/+page.svelte
  migrations/versions/zzf_remove_unused_fixed_costs.py
  openapi.json
  tests/api/test_two_factor.py
Due: frontend-typecheck, types-freshness

chore: regenerate OpenAPI spec with SSE event schemas
  _TODO.md
  frontend/src/lib/api/.openapi-hash
  frontend/src/lib/api/generated-types.ts
  openapi.json
Due: frontend-typecheck, types-freshness

fix(e2e): mark flaky datasets list test as fixme
  _TODO.md
  frontend/e2e/FIXME_TESTS.md
  frontend/e2e/datasets.spec.ts
  metrics.md
Due: frontend-typecheck

feat: batch implementation of 15 tasks - metrics, SEO, analysis UX
  _BATCH_LOG.md
  _PLAN.md
  _SCRATCH.md
  _TASK.md
  _TODO.md
  backend/api/business_metrics.py
  backend/api/context/services.py
  backend/api/seo/routes.py
  backend/services/content_generator.py
  backend/services/insight_parser.py
  backend/services/peer_benchmarks.py
  bo1/state/repositories/metrics_repository.py
  frontend/e2e/breadcrumbs.spec.ts
  frontend/e2e/datasets.spec.ts
  frontend/src/lib/api/.openapi-hash
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/generated-types.ts
  frontend/src/lib/api/types.ts
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/analysis/AnalysisChat.svelte
  frontend/src/lib/components/analysis/InsightsPreview.svelte
  frontend/src/lib/components/benchmarks/IndustryBenchmarksTab.svelte
  frontend/src/lib/components/benchmarks/PeerBenchmarksTab.svelte
  frontend/src/lib/components/seo/ArticleDetailModal.svelte
  frontend/src/routes/(app)/context/metrics/+page.svelte
  frontend/src/routes/(app)/context/peer-benchmarks/+page.svelte
  frontend/src/routes/(app)/mentor/+page.svelte
  frontend/src/routes/(app)/reports/benchmarks/+page.svelte
  frontend/src/routes/(app)/seo/+page.svelte
  metrics.md
  migrations/versions/zzg_add_is_relevant_to_metrics.py
  migrations/versions/zzh_add_d2c_metric_templates.py
  migrations/versions/zzj_add_priority_to_metric_templates.py
  openapi.json
  tests/api/seo/test_topics_autogenerate.py
  tests/api/test_business_metrics.py
  tests/services/test_content_generator.py
  tests/services/test_insight_parser.py
  tests/state/test_metrics_repository.py
Due: frontend-typecheck, types-freshness

fix(ui): remove duplicate breadcrumb nav wrapper in layout
  frontend/src/routes/(app)/+layout.svelte
Due: frontend-typecheck

fix(e2e): correct breadcrumb test expectations
  frontend/e2e/breadcrumbs.spec.ts
Due: frontend-typecheck

fix(auth): disable AccountLinking to restore auth
  backend/api/supertokens_config.py
  tests/api/test_account_linking.py
Due: none

fix(auth): prevent duplicate OAuth callback processing
  frontend/src/routes/(auth)/callback/+page.svelte
Due: frontend-typecheck

fix(frontend): defer state mutations in useDataFetch to prevent unsafe_mutation
  frontend/src/lib/utils/useDataFetch.svelte.ts
Due: frontend-typecheck

fix(e2e): update datasets back link test to accept mentor tab URL
  frontend/e2e/datasets.spec.ts
Due: frontend-typecheck

feat(e2e): add comprehensive website crawler for automated testing
  frontend/e2e/crawler/.gitignore
  frontend/e2e/crawler/README.md
  frontend/e2e/crawler/crawler.spec.ts
  frontend/e2e/crawler/crawler.ts
  frontend/e2e/crawler/index.ts
  frontend/e2e/crawler/report-generator.ts
  frontend/e2e/crawler/run-crawl.sh
  frontend/e2e/crawler/setup-auth.ts
  frontend/e2e/crawler/types.ts
Due: frontend-typecheck

fix(e2e): skip crawler tests in CI - require manual auth
  frontend/e2e/crawler/crawler.spec.ts
Due: frontend-typecheck

fix(frontend): use setTimeout for proper state mutation deferral
  frontend/e2e/crawler/auto-signup.ts
  frontend/e2e/crawler/crawler.spec.ts
  frontend/e2e/crawler/crawler.ts
  frontend/e2e/crawler/manual-auth.ts
  frontend/e2e/crawler/setup-auth.spec.ts
  frontend/e2e/crawler/signin-error.png
  frontend/e2e/crawler/signup-error.png
  frontend/e2e/crawler/types.ts
  frontend/src/lib/utils/useDataFetch.svelte.ts
  frontend/src/routes/legal/privacy/+page.svelte
Due: frontend-typecheck

fix(e2e): skip setup-auth.spec.ts in CI
  frontend/e2e/crawler/setup-auth.spec.ts
Due: frontend-typecheck

fix(e2e): mark flaky sidebar metrics test as fixme
  frontend/e2e/FIXME_TESTS.md
  frontend/e2e/meeting-complete.spec.ts
Due: frontend-typecheck

fix(frontend): resolve state_unsafe_mutation and null reference errors
  frontend/e2e/crawler/crawler.spec.ts
  frontend/e2e/crawler/crawler.ts
  frontend/src/lib/api/sse-events.ts
  frontend/src/lib/components/dashboard/ActivityHeatmap.svelte
  frontend/src/lib/components/ui/VirtualizedList.svelte
  frontend/src/routes/(app)/admin/+page.svelte
Due: frontend-typecheck

fix(nginx): add proxy buffer settings to /api/ for SuperTokens auth
  nginx/nginx-blue.conf
  nginx/nginx-green.conf
Due: none

fix(deps): upgrade aiohttp 3.13.2→3.13.3 for CVE fixes
  uv.lock
Due: none

fix(frontend): resolve state_unsafe_mutation in app layout
  frontend/src/routes/(app)/+layout.svelte
Due: frontend-typecheck

fix(frontend): resolve state_unsafe_mutation errors across components
  frontend/src/lib/components/TermsConsentModal.svelte
  frontend/src/lib/components/admin/BlogEditorModal.svelte
  frontend/src/lib/components/admin/ImpersonationBanner.svelte
  frontend/src/lib/components/auth/PasswordUpgradePrompt.svelte
  frontend/src/lib/components/dashboard/ObjectiveProgressModal.svelte
  frontend/src/lib/components/ui/LazyRender.svelte
  frontend/src/lib/components/ui/VirtualizedList.svelte
  frontend/src/routes/(app)/+layout.svelte
Due: frontend-typecheck

fix(frontend): eliminate state_unsafe_mutation by restructuring effects
  frontend/src/lib/components/TermsConsentModal.svelte
  frontend/src/lib/components/auth/PasswordUpgradePrompt.svelte
  frontend/src/lib/components/ui/RatingPrompt.svelte
  frontend/src/lib/components/ui/RelativeTimestamp.svelte
  frontend/src/routes/(app)/+layout.svelte
Due: frontend-typecheck

fix(frontend): resolve state_unsafe_mutation by using setTimeout instead of queueMicrotask
  frontend/src/lib/components/admin/BlogEditorModal.svelte
  frontend/src/lib/components/admin/ImpersonationBanner.svelte
  frontend/src/lib/components/dashboard/ObjectiveProgressModal.svelte
  frontend/src/lib/components/ui/LazyRender.svelte
  frontend/src/lib/components/ui/VirtualizedList.svelte
  frontend/src/routes/(app)/+layout.svelte
  frontend/src/routes/(app)/dashboard/+page.svelte
Due: frontend-typecheck

fix(frontend): use untrack() to prevent effect re-triggering on authChecked change
  frontend/src/routes/(app)/+layout.svelte
Due: frontend-typecheck

fix(frontend): resolve state_unsafe_mutation across 12 components
  frontend/src/lib/components/CookieConsent.svelte
  frontend/src/lib/components/Header.svelte
  frontend/src/lib/components/auth/PasswordUpgradePrompt.svelte
  frontend/src/lib/components/dashboard/ResearchHeadlinesWidget.svelte
  frontend/src/lib/components/events/ErrorEvent.svelte
  frontend/src/lib/components/events/MeetingFailedEvent.svelte
  frontend/src/lib/components/ui/BoFormField.svelte
  frontend/src/lib/components/ui/Input.svelte
  frontend/src/lib/components/ui/loading/ShimmerSkeleton.svelte
  frontend/src/lib/components/workspace/WorkspaceSwitcher.svelte
  frontend/src/routes/(app)/+layout.svelte
  frontend/src/routes/(app)/settings/workspace/+page.svelte
Due: frontend-typecheck

fix: resolve content persistence and display issues
  backend/api/sessions.py
  bo1/agents/task_extractor.py
  bo1/graph/nodes/synthesis.py
  frontend/src/lib/components/events/ActionPlan.svelte
  frontend/src/lib/utils/xml-parser.ts
  frontend/src/routes/(app)/meeting/[id]/lib/sessionStore.svelte.ts
Due: frontend-typecheck

fix: regenerate OpenAPI spec and fix test error response assertions
  frontend/src/lib/api/.openapi-hash
  frontend/src/lib/api/generated-types.ts
  openapi.json
  tests/api/test_email_webhook.py
Due: frontend-typecheck, types-freshness

fix(e2e): mark flaky breadcrumb and dashboard tests as fixme
  frontend/e2e/FIXME_TESTS.md
  frontend/e2e/breadcrumbs.spec.ts
  frontend/e2e/dashboard.spec.ts
Due: frontend-typecheck

fix(e2e): skip datasets Analysis Tab Insights Preview tests in CI
  frontend/e2e/FIXME_TESTS.md
  frontend/e2e/datasets.spec.ts
Due: frontend-typecheck

fix: add trend_summary to CONTEXT_FIELDS and jsonb_fields
  bo1/state/repositories/user_repository.py
Due: none

fix: add missing return type and docstrings for ruff lint
  backend/api/datasets.py
  backend/services/dataset_comparator.py
Due: none

fix: remove auth.users FK from new migrations for CI compatibility
  .ruff.toml
  migrations/versions/zzl_dataset_favourites_reports.py
  migrations/versions/zzm_dataset_investigations.py
  migrations/versions/zzn_dataset_comparisons.py
  migrations/versions/zzq_multi_dataset_analyses.py
Due: none

fix: lint errors and OSV vulnerability ignore
  .osv-scanner.toml
  backend/services/duckdb_engine.py
  bo1/state/repositories/dataset_repository.py
Due: none

fix: add Trivy ignore for urllib3 CVE-2026-21441
  .github/workflows/ci.yml
  .trivyignore
Due: none

fix: regenerate OpenAPI spec and frontend types
  frontend/src/lib/api/.openapi-hash
  frontend/src/lib/api/generated-types.ts
  openapi.json
Due: frontend-typecheck, types-freshness

fix: ignore urllib3 CVE-2026-21441 in pip-audit
  .github/workflows/ci.yml
Due: none

test: mark flaky back link E2E test as fixme
  frontend/e2e/datasets.spec.ts
Due: frontend-typecheck

Path conditions:
  version-sync: any of: ^(VERSION|pyproject\.toml|frontend/package\.json|frontend/src/lib/config/version\.ts|bo1/__init__\.py)$
  frontend-typecheck: any of: ^frontend/
  types-freshness: any of: ^(openapi\.json|frontend/src/lib/api/generated-types\.ts)$
