Repository rtfm-si/bo1: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-sync, frontend-typecheck, types-freshness

version-sync:
  name: Version sync check
  entry: ./scripts/bump-version.sh check
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend type checking
  entry: bash -c "cd frontend && npm run check"
  language: system
  pass_filenames: false

types-freshness:
  name: Check generated types freshness
  entry: bash -c "cd frontend && npm run check:types-fresh"
  language: system
  pass_filenames: false

fix: update urllib3 to 2.6.3 to fix CVE-2026-21441
  .github/workflows/ci.yml
  .osv-scanner.toml
  .trivyignore
  uv.lock
Due: none

fix: cast string array to uuid[] in gantt dependencies query
  bo1/state/repositories/project_repository.py
Due: none

fix: align gantt response with GanttActionData model
  bo1/state/repositories/project_repository.py
Due: none

fix: dataset investigation and business context endpoints
  backend/api/datasets.py
  backend/api/models.py
  frontend/src/lib/api/types.ts
  frontend/src/lib/components/dataset/KeyInsightsPanel.svelte
  frontend/src/routes/(app)/datasets/[dataset_id]/+page.svelte
Due: frontend-typecheck

chore: regenerate OpenAPI spec and frontend types
  frontend/src/lib/api/.openapi-hash
  frontend/src/lib/api/generated-types.ts
  openapi.json
Due: frontend-typecheck, types-freshness

fix: convert numpy types to native Python for JSON serialization
  backend/services/deterministic_analyzer.py
Due: none

fix: add optional chaining for investigation fields in KeyInsightsPanel
  frontend/src/lib/components/dataset/KeyInsightsPanel.svelte
Due: frontend-typecheck

fix: ensure investigationLoading resets in all code paths
  frontend/src/routes/(app)/datasets/[dataset_id]/+page.svelte
Due: frontend-typecheck

fix: add comprehensive optional chaining for investigation data
  frontend/src/lib/components/dataset/KeyInsightsPanel.svelte
Due: frontend-typecheck

fix: add safe defaults for all nested investigation properties in KeyInsightsPanel
  frontend/src/lib/components/dataset/KeyInsightsPanel.svelte
Due: frontend-typecheck

fix: align investigation field names with frontend KeyInsightsPanel
  backend/services/deterministic_analyzer.py
  backend/services/insight_generator.py
  docker-compose.app.yml
Due: none

feat: add column role update API and fix svelte warnings
  .github/workflows/deploy-production.yml
  backend/api/datasets.py
  backend/api/models.py
  backend/services/insight_generator.py
  bo1/state/repositories/dataset_repository.py
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/types.ts
  frontend/src/lib/components/actions/UnblockSuggestions.svelte
  frontend/src/lib/components/dataset/ChartRenderer.svelte
  frontend/src/lib/components/dataset/ColumnReferenceSidebar.svelte
  frontend/src/lib/components/dataset/DataInsightsPanel.svelte
  frontend/src/lib/components/dataset/KeyInsightsPanel.svelte
  frontend/src/routes/(app)/admin/collateral/+page.svelte
  frontend/src/routes/(app)/admin/costs/+page.svelte
  frontend/src/routes/(app)/admin/experiments/+page.svelte
  frontend/src/routes/(app)/admin/toggles/+page.svelte
  frontend/src/routes/(app)/datasets/[dataset_id]/+page.svelte
  frontend/src/routes/features/+page.svelte
Due: frontend-typecheck

fix: update werkzeug and regenerate OpenAPI spec
  frontend/src/lib/api/.openapi-hash
  frontend/src/lib/api/generated-types.ts
  openapi.json
  uv.lock
Due: frontend-typecheck, types-freshness

feat: redesign dataset page with tab-based layout and persistent chat
  .github/workflows/deploy.yml
  backend/services/deterministic_analyzer.py
  frontend/src/lib/components/dataset/ColumnProfilesTable.svelte
  frontend/src/lib/components/dataset/DatasetHeader.svelte
  frontend/src/lib/components/dataset/tabs/AnalyseTab.svelte
  frontend/src/lib/components/dataset/tabs/ChartsTab.svelte
  frontend/src/lib/components/dataset/tabs/ClarifyTab.svelte
  frontend/src/lib/components/dataset/tabs/InsightsTab.svelte
  frontend/src/lib/components/dataset/tabs/OverviewTab.svelte
  frontend/src/routes/(app)/datasets/[dataset_id]/+page.svelte
Due: frontend-typecheck

fix: use specific exception types in deterministic_analyzer
  backend/services/deterministic_analyzer.py
Due: none

chore: remove duplicate deploy workflow
  .github/workflows/deploy.yml
Due: none

style: fix ruff formatting
  backend/services/deterministic_analyzer.py
Due: none

fix(e2e): expand chat bar before testing chat input
  frontend/e2e/datasets.spec.ts
Due: frontend-typecheck

fix(ci): use correct safety check CLI syntax
  .github/workflows/deploy-production.yml
Due: none

fix(security): suppress false positive SQL injection warnings in admin endpoints
  backend/api/admin/billing.py
  backend/api/admin/drilldown.py
Due: none

fix(db): use correct unique constraint for objective analysis upsert
  bo1/state/repositories/dataset_repository.py
Due: none

fix(analysis): connect real pipeline instead of placeholder
  backend/api/routes/dataset_objective_analysis.py
Due: none

fix(e2e): mark flaky tests as fixme
  frontend/e2e/FIXME_TESTS.md
  frontend/e2e/datasets.spec.ts
Due: frontend-typecheck

fix(db): cast favourite_ids to uuid[] in get_favourites_by_ids
  bo1/state/repositories/dataset_repository.py
Due: none

fix(db): cast favourite_ids to uuid[] in create_report
  bo1/state/repositories/dataset_repository.py
Due: none

fix: parse PostgreSQL UUID[] array string in _row_to_report
  bo1/state/repositories/dataset_repository.py
Due: none

fix: use DatasetReportResponse type with flattened sections across frontend
  frontend/src/lib/api/types.ts
  frontend/src/lib/components/dataset/DatasetReport.svelte
  frontend/src/lib/components/dataset/FavouritesTab.svelte
  frontend/src/lib/components/dataset/tabs/ChartsTab.svelte
  frontend/src/lib/components/datasets/ReportBuilder.svelte
  frontend/src/routes/(app)/datasets/[dataset_id]/+page.svelte
  frontend/src/routes/(app)/datasets/[dataset_id]/report/[report_id]/+page.svelte
Due: frontend-typecheck

feat(analysis): auto-generate charts for insights and reports
  backend/services/dataset_report_generator.py
  bo1.code-workspace
  bo1/analysis/charts.py
  bo1/analysis/insights.py
  bo1/analysis/prompts/insight_generation.py
  frontend/src/lib/components/datasets/DataStory.svelte
Due: frontend-typecheck

fix(reports): save insight_data when adding to report
  frontend/src/routes/(app)/datasets/[dataset_id]/+page.svelte
Due: frontend-typecheck

feat(analysis): ground data story questions in dataset columns
  backend/api/context/metric_mapping.py
  bo1/analysis/pipeline.py
  bo1/analysis/prompts/story_synthesis.py
  bo1/analysis/story.py
Due: none

feat(cognition): add cognitive profiling system
  backend/Dockerfile.prod
  backend/api/actions.py
  backend/api/auth.py
  backend/api/cognition.py
  backend/api/main.py
  backend/services/google_calendar.py
  bo1/graph/execution.py
  bo1/graph/nodes/context.py
  bo1/state/repositories/cognition_repository.py
  frontend/src/lib/api/client.ts
  frontend/src/lib/components/cognition/CognitionQuestionFlow.svelte
  frontend/src/lib/components/cognition/Tier2AssessmentFlow.svelte
  frontend/src/lib/components/dashboard/CognitionWidget.svelte
  frontend/src/lib/utils/analytics.ts
  frontend/src/routes/(app)/dashboard/+page.svelte
  frontend/src/routes/(app)/onboarding/+page.svelte
  frontend/src/routes/(app)/settings/+layout.svelte
  frontend/src/routes/(app)/settings/cognition/+page.svelte
  migrations/versions/zzv_user_cognition.py
Due: frontend-typecheck

feat(cognition): add inferred dimensions and calibration system
  COGNITION.md
  backend/api/cognition.py
  bo1/graph/execution.py
  bo1/graph/nodes/context.py
  bo1/state/repositories/cognition_repository.py
  migrations/versions/zzw_cognition_inferred_dimensions.py
Due: none

chore: regenerate OpenAPI spec for cognition endpoints
  frontend/src/lib/api/.openapi-hash
  frontend/src/lib/api/generated-types.ts
  openapi.json
Due: frontend-typecheck, types-freshness

fix(security): upgrade dependencies to fix vulnerabilities
  frontend/package-lock.json
  frontend/package.json
  uv.lock
Due: version-sync, frontend-typecheck

chore(security): ignore jaraco.context vendored in setuptools
  .trivyignore
Due: none

feat(onboarding): add cognition step to dashboard checklist
  frontend/src/lib/components/ui/OnboardingChecklist.svelte
  frontend/src/routes/(app)/dashboard/+page.svelte
Due: frontend-typecheck

feat(auth): implement account linking with email verification
  _PLAN.md
  backend/api/auth.py
  backend/api/middleware/auth.py
  backend/api/supertokens_config.py
  backend/services/email_templates.py
  bo1/state/repositories/__init__.py
  bo1/state/repositories/auth_provider_repository.py
  frontend/src/lib/api/.openapi-hash
  frontend/src/lib/api/generated-types.ts
  frontend/src/lib/components/ui/Button.svelte
  frontend/src/lib/components/ui/OnboardingChecklist.svelte
  frontend/src/routes/(app)/cognition/+page.svelte
  frontend/src/routes/(auth)/login/+page.svelte
  frontend/src/routes/(auth)/verify-email/+page.svelte
  migrations/versions/zzx_account_linking.py
  openapi.json
Due: frontend-typecheck, types-freshness

feat(cognition): make blindspots clickable with advisor chat integration
  backend/api/advisor.py
  backend/services/mentor_conversation_pg_repo.py
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/types.ts
  frontend/src/lib/components/mentor/MentorChat.svelte
  frontend/src/routes/(app)/advisor/discuss/+page.svelte
  frontend/src/routes/(app)/cognition/+page.svelte
  frontend/src/routes/(app)/settings/cognition/+page.svelte
Due: frontend-typecheck

Path conditions:
  version-sync: any of: ^(VERSION|pyproject\.toml|frontend/package\.json|frontend/src/lib/config/version\.ts|bo1/__init__\.py)$
  frontend-typecheck: any of: ^frontend/
  types-freshness: any of: ^(openapi\.json|frontend/src/lib/api/generated-types\.ts)$
