Repository rtfm-si/bo1: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-sync, frontend-typecheck, types-freshness

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Version sync check (runs first, fast)
      - id: version-sync
        name: Version sync check
        entry: ./scripts/bump-version.sh check
        language: system
        pass_filenames: false
        files: ^(VERSION|pyproject\.toml|frontend/package\.json|frontend/src/lib/config/version\.ts|bo1/__init__\.py)$

      # Backend linting
      - id: ruff-check
        name: Backend linting (ruff check)
        entry: docker-compose run --rm bo1 uv run ruff check . --fix
        language: system
        pass_filenames: false
        always_run: true

      - id: ruff-format
        name: Backend formatting (ruff format)
        entry: docker-compose run --rm bo1 uv run ruff format .
        language: system
        pass_filenames: false
        always_run: true

      - id: mypy-bo1
        name: Backend type checking (mypy)
        entry: docker-compose run --rm bo1 uv run mypy bo1/
        language: system
        pass_filenames: false
        always_run: true

      # Frontend checks
      - id: frontend-typecheck
        name: Frontend type checking
        entry: bash -c "cd frontend && npm run check"
        language: system
        pass_filenames: false
        files: ^frontend/

      - id: types-freshness
        name: Check generated types freshness
        entry: bash -c "cd frontend && npm run check:types-fresh"
        language: system
        pass_filenames: false
        files: ^(openapi\.json|frontend/src/lib/api/generated-types\.ts)$

      # Fast backend tests (no LLM)
      - id: backend-tests-fast
        name: Backend tests (no LLM)
        entry: docker-compose run --rm bo1 pytest -v -m "not requires_llm" --tb=line
        language: system
        pass_filenames: false
        always_run: true

fix(gsc): add FRONTEND_URL env var for OAuth redirect
  docker-compose.app.yml
Due: none

fix(gsc): add missing ErrorCode.EXT_API_ERROR and NOT_FOUND
  bo1/logging/errors.py
Due: none

fix(csrf): skip CSRF validation for API key authenticated requests
  backend/api/middleware/csrf.py
Due: none

feat(admin): add GSC analytics page
  frontend/src/lib/api/admin.ts
  frontend/src/routes/(app)/admin/gsc/+page.svelte
Due: frontend-typecheck

feat(synthesis): improve action plan display with collapsible details
  backend/api/context/routes.py
  backend/api/control.py
  bo1/prompts/meta_synthesis.py
  frontend/src/lib/api/client.ts
  frontend/src/lib/components/events/ActionPlan.svelte
  frontend/src/lib/components/events/SynthesisComplete.svelte
  frontend/src/lib/components/meeting/RaiseHandButton.svelte
  frontend/src/lib/utils/xml-parser.ts
  frontend/src/routes/(app)/meeting/[id]/+page.svelte
  frontend/src/routes/(app)/meeting/[id]/lib/eventGrouping.ts
  frontend/src/routes/(app)/meeting/[id]/lib/viewState.svelte.ts
Due: frontend-typecheck

fix(subgraph): pass sub_problem_index through node outputs
  bo1/graph/deliberation/subgraph/nodes.py
Due: none

fix(auth): optimize auth performance and task extraction overflow
  backend/api/auth.py
  backend/api/middleware/impersonation.py
  backend/api/supertokens_config.py
  bo1/agents/task_extractor.py
  bo1/prompts/task_extractor_prompts.py
  migrations/versions/zzzd_impersonation_index.py
  tests/api/test_admin_impersonation.py
Due: none

fix(migration): remove CONCURRENTLY (incompatible with alembic transaction)
  migrations/versions/zzzd_impersonation_index.py
Due: none

refactor: centralize sub_problem_index handling and magic numbers
  _TODO.md
  backend/api/control.py
  backend/api/event_collector.py
  backend/api/event_extractors.py
  backend/api/events.py
  backend/api/seo/routes.py
  backend/api/streaming.py
  backend/services/article_summarizer.py
  backend/services/blocker_analyzer.py
  backend/services/competitor_analyzer.py
  backend/services/context_project_suggester.py
  backend/services/dataset_report_generator.py
  backend/services/multi_dataset_analyzer.py
  backend/services/project_autogen.py
  backend/services/project_suggester.py
  backend/services/trend_analyzer.py
  backend/services/trend_summary_generator.py
  bo1/agents/task_extractor.py
  bo1/constants.py
  bo1/feature_flags/features.py
  bo1/graph/quality/stopping_rules.py
  bo1/graph/safety/loop_prevention.py
  bo1/interfaces/console.py
  bo1/main.py
  bo1/orchestration/deliberation.py
  bo1/orchestration/prompt_builder.py
  bo1/prompts/persona.py
  bo1/state/serialization.py
  bo1/utils/json_parsing.py
  frontend/src/lib/components/events/ActionableTasks.svelte
  frontend/src/lib/components/meeting/SubProblemTabs.svelte
  frontend/src/lib/components/ui/DecisionMetrics.svelte
  frontend/src/lib/utils/quality-labels.ts
  frontend/src/routes/(app)/meeting/[id]/lib/viewState.svelte.ts
Due: frontend-typecheck

fix(tests): update event streaming test and catch ValueError in parsers
  backend/services/competitor_analyzer.py
  backend/services/trend_analyzer.py
  tests/api/test_event_streaming.py
Due: none

fix(auth): add missing recipe_user_id param to session override
  backend/api/supertokens_config.py
Due: none

refactor: centralize magic numbers and improve SSE latency
  backend/api/constants.py
  backend/api/context/competitors.py
  backend/api/control.py
  backend/api/event_collector.py
  bo1/constants.py
  bo1/graph/nodes/decomposition.py
  bo1/graph/nodes/moderation.py
  bo1/graph/nodes/research.py
  bo1/graph/nodes/rounds.py
  bo1/orchestration/voting.py
  frontend/src/lib/components/events/ActionPlan.svelte
  frontend/src/lib/components/events/DynamicEventComponent.svelte
  frontend/src/lib/components/events/ExpertPerspectiveCard.svelte
Due: frontend-typecheck

fix(ui): render markdown in expert card summaries and filter noise events
  _TODO.md
  backend/api/constants.py
  backend/api/control.py
  bo1/graph/nodes/moderation.py
  frontend/e2e/meeting-complete.spec.ts
  frontend/src/lib/components/events/ExpertPerspectiveCard.svelte
  frontend/src/routes/(app)/meeting/[id]/lib/eventGrouping.ts
Due: frontend-typecheck

fix(tests): mark flaky event batching/timeout tests as skip
  tests/api/test_event_batching.py
  tests/api/test_event_collector.py
Due: none

style: format test files
  tests/api/test_event_collector.py
Due: none

fix: add state.py per-file-ignores to .ruff.toml for re-export E402/I001
  .ruff.toml
Due: none

fix(ui): fix expert cards and contribution markdown display
  bo1/graph/nodes/context.py
  bo1/graph/nodes/rounds.py
  bo1/graph/nodes/subproblems.py
  bo1/graph/nodes/synthesis.py
  frontend/src/lib/api/sse-events.ts
  frontend/src/lib/components/events/ExpertPanel.svelte
  frontend/src/lib/components/events/ExpertPerspectiveCard.svelte
Due: frontend-typecheck

fix(ui): fix expert cards and contribution markdown display (#19)
  bo1/graph/nodes/context.py
  bo1/graph/nodes/rounds.py
  bo1/graph/nodes/subproblems.py
  bo1/graph/nodes/synthesis.py
  frontend/src/lib/api/sse-events.ts
  frontend/src/lib/components/events/ExpertPanel.svelte
  frontend/src/lib/components/events/ExpertPerspectiveCard.svelte
Due: frontend-typecheck

fix(ui): remove duplicate focus area cards from conclusion tab
  frontend/src/routes/(app)/meeting/[id]/+page.svelte
  frontend/src/routes/(app)/meeting/[id]/lib/viewState.svelte.ts
Due: frontend-typecheck

fix(ui): remove duplicate focus area cards from conclusion tab (#20)
  frontend/src/routes/(app)/meeting/[id]/+page.svelte
  frontend/src/routes/(app)/meeting/[id]/lib/viewState.svelte.ts
Due: frontend-typecheck

fix: async embedding endpoints, accurate cost tracking, wider layout
  backend/api/admin/embeddings.py
  backend/services/analytics.py
  backend/services/embedding_visualizer.py
  frontend/src/lib/components/meeting/MeetingHeader.svelte
  frontend/src/routes/(app)/+layout.svelte
  frontend/src/routes/(app)/admin/embeddings/+page.svelte
  frontend/src/routes/(app)/meeting/+page.svelte
  frontend/src/routes/(app)/meeting/[id]/+page.svelte
  tests/api/admin/test_embeddings.py
  tests/services/test_embedding_visualizer.py
Due: frontend-typecheck

fix: async embedding endpoints, accurate cost tracking, wider layout (#21)
  backend/api/admin/embeddings.py
  backend/services/analytics.py
  backend/services/embedding_visualizer.py
  frontend/src/lib/components/meeting/MeetingHeader.svelte
  frontend/src/routes/(app)/+layout.svelte
  frontend/src/routes/(app)/admin/embeddings/+page.svelte
  frontend/src/routes/(app)/meeting/+page.svelte
  frontend/src/routes/(app)/meeting/[id]/+page.svelte
  tests/api/admin/test_embeddings.py
  tests/services/test_embedding_visualizer.py
Due: frontend-typecheck

feat: add admin analytics chat with SQL agent, cost tracking improvements
  backend/api/admin/__init__.py
  backend/api/admin/analytics_chat.py
  backend/api/admin/costs.py
  backend/api/admin/models.py
  backend/services/admin_analytics/__init__.py
  backend/services/admin_analytics/agent.py
  backend/services/admin_analytics/chart_recommender.py
  backend/services/admin_analytics/saved_analyses.py
  backend/services/admin_analytics/schema_context.py
  backend/services/admin_analytics/sql_safety.py
  bo1/llm/cost_tracker.py
  bo1/prompts/admin_analytics.py
  frontend/src/lib/api/.openapi-hash
  frontend/src/lib/api/admin.ts
  frontend/src/lib/api/generated-types.ts
  frontend/src/lib/api/types.ts
  frontend/src/lib/components/admin/AnalyticsChart.svelte
  frontend/src/lib/components/admin/AnalyticsChatInput.svelte
  frontend/src/lib/components/admin/AnalyticsChatMessage.svelte
  frontend/src/lib/components/admin/SavedAnalysesList.svelte
  frontend/src/lib/components/admin/SqlPreview.svelte
  frontend/src/routes/(app)/admin/+page.svelte
  frontend/src/routes/(app)/admin/analytics-chat/+page.svelte
  frontend/src/routes/(app)/admin/costs/+page.svelte
  migrations/versions/zzze_admin_analytics_tables.py
  openapi.json
  pyproject.toml
  tests/api/test_analytics_chat.py
  tests/api/test_terminology.py
  tests/llm/test_cost_tracker.py
  tests/services/test_sql_safety.py
  uv.lock
Due: version-sync, frontend-typecheck, types-freshness

feat: add admin analytics chat with SQL agent, cost tracking improvements (#22)
  backend/api/admin/__init__.py
  backend/api/admin/analytics_chat.py
  backend/api/admin/costs.py
  backend/api/admin/models.py
  backend/services/admin_analytics/__init__.py
  backend/services/admin_analytics/agent.py
  backend/services/admin_analytics/chart_recommender.py
  backend/services/admin_analytics/saved_analyses.py
  backend/services/admin_analytics/schema_context.py
  backend/services/admin_analytics/sql_safety.py
  bo1/llm/cost_tracker.py
  bo1/prompts/admin_analytics.py
  frontend/src/lib/api/.openapi-hash
  frontend/src/lib/api/admin.ts
  frontend/src/lib/api/generated-types.ts
  frontend/src/lib/api/types.ts
  frontend/src/lib/components/admin/AnalyticsChart.svelte
  frontend/src/lib/components/admin/AnalyticsChatInput.svelte
  frontend/src/lib/components/admin/AnalyticsChatMessage.svelte
  frontend/src/lib/components/admin/SavedAnalysesList.svelte
  frontend/src/lib/components/admin/SqlPreview.svelte
  frontend/src/routes/(app)/admin/+page.svelte
  frontend/src/routes/(app)/admin/analytics-chat/+page.svelte
  frontend/src/routes/(app)/admin/costs/+page.svelte
  migrations/versions/zzze_admin_analytics_tables.py
  openapi.json
  pyproject.toml
  tests/api/test_analytics_chat.py
  tests/api/test_terminology.py
  tests/llm/test_cost_tracker.py
  tests/services/test_sql_safety.py
  uv.lock
Due: version-sync, frontend-typecheck, types-freshness

fix: parse thinking/contribution tags and clean expert response display
  _TODO.md
  bo1/graph/deliberation/subgraph/nodes.py
  frontend/src/lib/components/events/ExpertPerspectiveCard.svelte
  frontend/src/routes/(app)/meeting/[id]/+page.svelte
  frontend/src/routes/(app)/meeting/[id]/lib/eventGrouping.ts
Due: frontend-typecheck

fix: guard MarkdownContent against non-string input, fix completed meeting refresh
  frontend/src/lib/components/ui/MarkdownContent.svelte
  frontend/src/routes/(app)/meeting/[id]/+page.svelte
Due: frontend-typecheck

feat: inline expert self-summaries via <summary> tag, cleaner expert cards
  backend/api/event_collector.py
  bo1/graph/deliberation/subgraph/nodes.py
  bo1/graph/nodes/moderation.py
  bo1/llm/response_parser.py
  bo1/models/state.py
  bo1/orchestration/persona_executor.py
  bo1/prompts/persona.py
  frontend/src/lib/components/events/ExpertPerspectiveCard.svelte
Due: frontend-typecheck

fix: wrap marked.parse in try-catch to prevent rendering crashes
  frontend/src/lib/components/ui/MarkdownContent.svelte
Due: frontend-typecheck

feat(seo): add discover-trends endpoint and UI card
  backend/api/seo/routes.py
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/types.ts
  frontend/src/lib/components/seo/SeoTools.svelte
Due: frontend-typecheck

feat: pdf report improvements, decision metrics, research/round enhancements
  bo1/graph/nodes/research.py
  bo1/graph/nodes/rounds/nodes.py
  frontend/src/lib/components/ui/DecisionMetrics.svelte
  frontend/src/lib/styles/pdf-report.css
  frontend/src/lib/utils/markdown-formatter.ts
  frontend/src/lib/utils/pdf-report-generator.test.ts
  frontend/src/lib/utils/pdf-report-generator.ts
  frontend/src/lib/utils/report-data-extractor.ts
  tests/graph/test_initial_round.py
Due: frontend-typecheck

chore: regenerate OpenAPI spec and frontend types
  frontend/src/lib/api/.openapi-hash
  frontend/src/lib/api/generated-types.ts
  openapi.json
Due: frontend-typecheck, types-freshness

feat: Plan My Week — auto-distribute unscheduled actions across week planner
  backend/api/actions.py
  frontend/src/lib/api/types.ts
  frontend/src/lib/components/dashboard/CognitionWidget.svelte
  frontend/src/lib/components/dashboard/GoalBanner.svelte
  frontend/src/lib/components/dashboard/WeeklyPlanView.svelte
  frontend/src/lib/components/ui/OnboardingChecklist.svelte
  frontend/src/routes/(app)/dashboard/+page.svelte
  frontend/src/routes/(app)/settings/account/+page.svelte
Due: frontend-typecheck

feat: dashboard layout improvements, Gantt optimizations, and Tailwind fixes
  backend/api/context/routes.py
  frontend/src/lib/components/actions/GlobalGanttChart.svelte
  frontend/src/lib/components/dashboard/ActivityHeatmap.svelte
  frontend/src/lib/components/dashboard/SmartFocusBanner.svelte
  frontend/src/lib/components/projects/GanttChart.svelte
  frontend/src/lib/components/ui/OnboardingChecklist.svelte
  frontend/src/lib/types/frappe-gantt.d.ts
  frontend/src/routes/(app)/dashboard/+page.svelte
Due: frontend-typecheck

feat: decision topic bank with web research, UI type extraction
  _TODO.md
  backend/api/admin/decisions.py
  backend/api/models.py
  backend/services/content_generator.py
  backend/services/decision_topic_researcher.py
  backend/services/topic_discovery.py
  bo1/state/repositories/__init__.py
  bo1/state/repositories/topic_bank_repository.py
  frontend/src/lib/api/admin.ts
  frontend/src/lib/components/admin/TopicBankPanel.svelte
  frontend/src/lib/components/meeting/MeetingError.svelte
  frontend/src/lib/components/meeting/PartialResultsPanel.svelte
  frontend/src/lib/components/meeting/index.ts
  frontend/src/lib/components/meeting/meeting-error.types.ts
  frontend/src/lib/components/ui/ContributionCard.svelte
  frontend/src/lib/components/ui/Dropdown.svelte
  frontend/src/lib/components/ui/Tabs.svelte
  frontend/src/lib/components/ui/contribution-card.types.ts
  frontend/src/lib/components/ui/dropdown.types.ts
  frontend/src/lib/components/ui/index.ts
  frontend/src/lib/components/ui/shadcn/alert/alert-variants.ts
  frontend/src/lib/components/ui/shadcn/alert/alert.svelte
  frontend/src/lib/components/ui/shadcn/alert/index.ts
  frontend/src/lib/components/ui/shadcn/badge/badge-variants.ts
  frontend/src/lib/components/ui/shadcn/badge/badge.svelte
  frontend/src/lib/components/ui/shadcn/badge/index.ts
  frontend/src/lib/components/ui/shadcn/button/button-variants.ts
  frontend/src/lib/components/ui/shadcn/button/button.svelte
  frontend/src/lib/components/ui/shadcn/button/index.ts
  frontend/src/lib/components/ui/tabs.types.ts
  frontend/src/routes/(app)/admin/decisions/+page.svelte
  migrations/versions/zzzf_decision_topic_bank.py
Due: frontend-typecheck

fix: add missing docstrings to migration functions
  migrations/versions/zzzf_decision_topic_bank.py
Due: none

fix: add strategic_objectives_progress field and fix admin feedback test rate limiting
  bo1/state/repositories/user_repository.py
  tests/api/test_admin_feedback.py
Due: none

fix: meeting quality — verbose contributions, missing summaries, repeated clarifications, PDF issues
  backend/api/event_collector.py
  bo1/agents/facilitator.py
  bo1/constants.py
  bo1/graph/nodes/moderation.py
  bo1/graph/state.py
  bo1/orchestration/prompt_builder.py
  bo1/prompts/facilitator.py
  bo1/prompts/persona.py
  bo1/prompts/utils.py
  frontend/src/lib/styles/pdf-report.css
  frontend/src/lib/utils/markdown-formatter.ts
  frontend/src/lib/utils/pdf-report-generator.test.ts
  frontend/src/lib/utils/pdf-report-generator.ts
Due: frontend-typecheck
